<%- include('./layout/partials/messages.ejs') %>
    <div class="milk-product-container">
        <div class="  milk-products-first-card">
            <div class="row ">

                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-box">

                            <div class=" heading-card">
                                <h5 class="h-light milk-h5">It’s ‘Dairy Dairy’ Good</h5>
                                <p class="text-justify  milk-one-para ">
                                    Dinshaw’s Dairy products turn the gift of nature into the blessing of good health!
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-102.jpg" class="milk-img-one" height="100%" width="100%"
                            alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="  " id="milk-products-first-card">
            <div class="row ">
                <div class="col-md-6 flex">
                    <div class="wow fadeInRight fix-right" data-wow-delay="0.2s">
                        <img src="/assets/static/images/Product-102.jpg" class="milk-img-one" height="100%" width="100%"
                            alt="" />
                    </div>
                </div>
                <div class="col-md-6 text-center ">

                    <div class="wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-box">

                            <div class=" heading-card">
                                <h5 class="h-light milk-h5">It’s ‘Dairy Dairy’ Good</h5>
                                <p class="text-justify  milk-one-para ">
                                    Dinshaw’s Dairy products turn the gift of nature into the blessing of good health!
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- milk type  -->
        <div class="milk-product-menu-card">
            <div class="card  text-white">

                <div class="milk-product-overlap">
                    <h5 class="milk-product-overfloy-text wow fadeInLeft " data-wow-delay="0.2s">Made From Pure Milk &
                        Pure
                        Love
                    </h5>
                    <p class="text-justify milk-product-overfloy-para wow fadeInRight" data-wow-delay="0.1">
                        Our Dairy products are made from the freshest & purest milk. It brings the authentic ‘desi’
                        taste
                        to
                        the
                        dinner table.
                    </p>
                    <div class="milk-product-card">
                        <div class="milk-product-flex ">
                            <p class="milk-roduct-list">Ghee 1000ml / 500ml / 200ml</p>
                            <p class="milk-roduct-list">Cow Ghee 1000ml / 500ml / 200ml</p>
                            <p class="milk-roduct-list">Paneer 1000ml / 500ml / 200ml</p>
                            <p class="milk-roduct-list">Shrikhand 500g / 250g / 100g</p>
                            <p class="milk-roduct-list">Dahi 1000ml / 500ml / 200ml</p>
                            <p class="milk-roduct-list">Kadhi Dahi 1000ml / 200ml</p>
                            <p class="milk-roduct-list">Butter Milk 200ml</p>
                            <p class="milk-roduct-list">Lassi 200ml</p>
                            <p class="milk-roduct-list">Mishti Dahi 160g / 100g</p>
                            <p class="milk-roduct-list">Butter 100g / 400g</p>
                        </div>
                    </div>
                </div>
                <img src="/assets/static/images/Product page-07.jpg" class="milk-card-img" alt="...">
                <img src="/assets/static/images/Product page-07-sm.jpg" id="milk-card-img" alt="...">
            </div>
        </div>
    </div>