<%- include('../layout/partials/messages.ejs') %>
    <div class="bodyLogin">
        <div class="container bootstrap snippet">
            <div class="row">

                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">

                        <div class="caption">
                            <h5>Job Application</h5>

                            <h6 class="text-center">
                                <%=totalJB%>
                            </h6>

                            <!-- HTML: Your modal and form structure -->
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#myModal">View Application List</button>

                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                            <h6 class="modal-title" id="staticBackdropLabel">Job Application Data</h6>
                                        </div>

                                        <!-- Modal Body: Form -->
                                        <div class="modal-body">
                                            <form action="/dashboard/view-table-data" method="get">
                                                <div class="col-md-12">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="allData" id="gridCheck"> All
                                                            Application
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="dateRangeCheckbox"> Select From
                                                            To Date Application
                                                        </label>
                                                    </div>
                                                    <div class="row" id="dateInputs" style="display: none;">
                                                        <input type="date" name="fromDate" id="fromDate">
                                                        <input type="date" name="toDate" id="toDate">
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn-sm btn-success ">View</button>

                                            </form>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript code to handle checkbox selections and fetch data
        const allDataCheckbox = document.getElementById('gridCheck');
        const dateRangeCheckbox = document.getElementById('dateRangeCheckbox');
        const dateInputs = document.getElementById('dateInputs');

        allDataCheckbox.addEventListener('change', function () {
            if (this.checked) {
                dateRangeCheckbox.checked = false;
                dateInputs.style.display = 'none';
            }
        });

        dateRangeCheckbox.addEventListener('change', function () {
            if (this.checked) {
                allDataCheckbox.checked = false;
                dateInputs.style.display = 'block';
            } else {
                dateInputs.style.display = 'none';
            }
        });

    </script>
    <!-- Your HTML modal and form structure remains the same -->